## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


#  Import and read the charity_data.csv.

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
import tensorflow as tf

2023-09-07 10:39:00.417355: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [13]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
for column in application_df.columns:
    unique_values = application_df[column].unique()
    print(f"Column '{column}' has {len(unique_values)} unique columns")
    print()

Column 'APPLICATION_TYPE' has 17 unique columns

Column 'AFFILIATION' has 6 unique columns

Column 'CLASSIFICATION' has 71 unique columns

Column 'USE_CASE' has 5 unique columns

Column 'ORGANIZATION' has 4 unique columns

Column 'STATUS' has 2 unique columns

Column 'INCOME_AMT' has 9 unique columns

Column 'SPECIAL_CONSIDERATIONS' has 2 unique columns

Column 'ASK_AMT' has 8747 unique columns

Column 'IS_SUCCESSFUL' has 2 unique columns

In [15]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_values=application_df['APPLICATION_TYPE'].value_counts()

In [17]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cut_off=60
application_types_to_replace = application_type_values[application_type_values < cut_off].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: count, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_type_values=application_df['CLASSIFICATION'].value_counts()
classification_type_values

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_type_values[classification_type_values>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [22]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cut_off=60
classifications_to_replace = classification_type_values[classification_type_values < cut_off].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      499
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
Name: count, dtype: int64

In [40]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
categorical_columns = ['AFFILIATION','USE_CASE','ORGANIZATION','SPECIAL_CONSIDERATIONS','APPLICATION_TYPE','CLASSIFICATION','INCOME_AMT']
application_df_encoded = pd.get_dummies(application_df, columns=categorical_columns,dtype=int)

In [41]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
target_column = 'IS_SUCCESSFUL'
X = application_df_encoded.drop(target_column, axis=1)
y = application_df_encoded[target_column]
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
application_df_encoded

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,...,CLASSIFICATION_Other,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,1,5000,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,1,5000,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [43]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [45]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = X_train.shape[1] 
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=64, activation='relu', input_dim=input_features))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=32, activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                3456

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 5,569
Trainable params: 5,569
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [47]:
# Train the model
#  YOUR CODE GOES HERE
history = nn.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
858/858 [==============================] - 1s 569us/step - loss: 67516.4375 - accuracy: 0.5002
Epoch 2/50
858/858 [==============================] - 0s 563us/step - loss: 36350.6641 - accuracy: 0.5015
Epoch 3/50
858/858 [==============================] - 0s 554us/step - loss: 23980.3594 - accuracy: 0.5050
Epoch 4/50
858/858 [==============================] - 0s 558us/step - loss: 18074.2324 - accuracy: 0.4966
Epoch 5/50
858/858 [==============================] - 0s 557us/step - loss: 23223.9297 - accuracy: 0.5052
Epoch 6/50
858/858 [==============================] - 0s 566us/step - loss: 8671.2275 - accuracy: 0.4919
Epoch 7/50
858/858 [==============================] - 0s 557us/step - loss: 17508.1582 - accuracy: 0.4979
Epoch 8/50
858/858 [==============================] - 0s 578us/step - loss: 15179.8486 - accuracy: 0.5104
Epoch 9/50
858/858 [==============================] - 0s 572us/step - loss: 8140.7876 - accuracy: 0.5278
Epoch 10/50
858/858 [==============================] - 0s 553us/step - loss: 4783.9961 - accuracy: 0.5274
Epoch 11/50
858/858 [==============================] - 0s 550us/step - loss: 4526.9497 - accuracy: 0.5550
Epoch 12/50
858/858 [==============================] - 0s 554us/step - loss: 5884.8213 - accuracy: 0.4973
Epoch 13/50
858/858 [==============================] - 0s 552us/step - loss: 3461.1663 - accuracy: 0.5007
Epoch 14/50
858/858 [==============================] - 0s 554us/step - loss: 1807.1328 - accuracy: 0.4950
Epoch 15/50
858/858 [==============================] - 0s 562us/step - loss: 2897.2097 - accuracy: 0.5055
Epoch 16/50
858/858 [==============================] - 0s 555us/step - loss: 514.9548 - accuracy: 0.5102
Epoch 17/50
858/858 [==============================] - 0s 570us/step - loss: 536.2962 - accuracy: 0.5138
Epoch 18/50
858/858 [==============================] - 0s 561us/step - loss: 113.4781 - accuracy: 0.5591
Epoch 19/50
858/858 [==============================] - 0s 560us/step - loss: 0.6925 - accuracy: 0.5234
Epoch 20/50
858/858 [==============================] - 0s 557us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 21/50
858/858 [==============================] - 0s 558us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 22/50
858/858 [==============================] - 0s 558us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 23/50
858/858 [==============================] - 0s 554us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 24/50
858/858 [==============================] - 0s 553us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 25/50
858/858 [==============================] - 0s 559us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 26/50
858/858 [==============================] - 1s 599us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 27/50
858/858 [==============================] - 0s 572us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 28/50
858/858 [==============================] - 0s 582us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 29/50
858/858 [==============================] - 0s 565us/step - loss: 0.6911 - accuracy: 0.5320
Epoch 30/50
858/858 [==============================] - 0s 562us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 31/50
858/858 [==============================] - 0s 571us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 32/50
858/858 [==============================] - 0s 561us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 33/50
858/858 [==============================] - 0s 567us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 34/50
858/858 [==============================] - 1s 591us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 35/50
858/858 [==============================] - 0s 555us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 36/50
858/858 [==============================] - 0s 554us/step - loss: 0.6911 - accuracy: 0.5320
Epoch 37/50
858/858 [==============================] - 0s 552us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 38/50
858/858 [==============================] - 0s 561us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 39/50
858/858 [==============================] - 0s 561us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 40/50
858/858 [==============================] - 0s 559us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 41/50
858/858 [==============================] - 1s 590us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 42/50
858/858 [==============================] - 0s 564us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 43/50
858/858 [==============================] - 0s 569us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 44/50
858/858 [==============================] - 0s 562us/step - loss: 0.6913 - accuracy: 0.5320
Epoch 45/50
858/858 [==============================] - 0s 573us/step - loss: 0.6913 - accuracy: 0.5320
Epoch 46/50
858/858 [==============================] - 0s 560us/step - loss: 0.6913 - accuracy: 0.5320
Epoch 47/50
858/858 [==============================] - 0s 577us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 48/50
858/858 [==============================] - 0s 561us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 49/50
858/858 [==============================] - 0s 561us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 50/50
858/858 [==============================] - 0s 561us/step - loss: 0.6912 - accuracy: 0.5320

In [48]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.6606 - accuracy: 0.6383 - 174ms/epoch - 807us/step
Loss: 0.6606127023696899, Accuracy: 0.6383382081985474

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE